" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8

set incsearch
set ignorecase
set smartcase
set visualbell
set noerrorbells

"set line numbers to relativ and current position to the actual line"
set relativenumber
set number

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set ideajoin
set highlightedyankq
set NERDTree

" --- Custom mappings
noremap gp :NERDTree <CR>
noremap <Space>z :action ToggleZenMode<CR>
noremap <Space>r :action RecentFiles<CR>

map D <C-d>zz
map U <C-u>zz
map n nzz
map N Nzz

"""""""""""""""""""""""""""""""""""""formatting"""""""""""""""""""""""""""""""""""""
noremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>
noremap -- :action OptimizeImports<CR>
vnoremap -- :action OptimizeImports<CR>

""""""""""""""""""""""""""""""""""""""Comments"""""""""""""""""""""""""""""""""""""
noremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>

""""""""""""""""""""""""""""""""""""""Refactoring""""""""""""""""""""""""""""""""""""""
noremap <Space>re :action RenameElement<CR>
noremap <Space>ii :action Inline<CR>
noremap <Space>iv :action IntroduceVariable<CR>
noremap <Space>ic :action IntroduceConstant<CR>
noremap <Space>ip :action IntroduceParameter<CR>
noremap <Space>if :action IntroduceField<CR>
noremap <Space>ef :action ExtractFunction<CR>
noremap <Space>gg :action Generate<CR>

""""""""""""""""""""""""""""""""""""""Split Window"""""""""""""""""""""""""""""""""""""
noremap <Space>sv :action SplitVertically<CR>
noremap <Space>sh :action SplitHorizontally<CR>
noremap <Space>sc :action UnsplitAll<CR>
noremap <Space>v :action NextSplitter<CR>
noremap <Space>so :action MoveEditorToOppositeTabGroup<CR>

"""""""""""""""""""""""""""""""""""""" Window"""""""""""""""""""""""""""""""""""""
noremap <Space>wd :action ActivateDebugToolWindow<CR>
noremap <Space>wr :action ActivateRunToolWindow<CR>
noremap <Space><Space> :action HideAllWindows<CR>

""""""""""""""""""""""""""""""""""""""Navigation"""""""""""""""""""""""""""""""""""""
noremap <Space>nw :action NextProjectWindow<CR>
noremap <Space>pw :action PreviousProjectWindow<CR>
noremap <Space>cv :action ChangeView<CR>
noremap <Space>tt mm`m:action GotoTest<CR>
noremap <Space>cc mm`m:action GotoClass<CR>
noremap <Space>aa mm`m:action GotoFile<CR>
noremap <Space>ff mm`m:action SearchEverywhere<CR>
noremap <Space>t :action ActivateTerminalToolWindow<CR>
noremap <Space>h :action LocalHistory.ShowHistory<CR>

""""""""""""""""""""""""""""""""""""""Project""""""""""""""""""""""""""""""""""""""
noremap <Space>cp :action CloseProject<CR>
noremap <Space>op :action OpenFile<CR>
noremap <Space>np :action NewProject<CR>
noremap <Space>mp :action ManageRecentProjects<CR>
noremap <Space>mg :action MergeAllWindowsAction<CR>

""""""""""""""""""""""""""""""""""""Run""""""""""""""""""""""""""""""""""""""
noremap <Space>rc :action RunConfiguration<CR>
noremap <Space>rr :action Run<CR>
noremap <Space>rn :action RunClass<CR>
noremap <Space>dd :action Debug<CR>
noremap <Space>dn :action DebugClass<CR>
noremap <Space>sp :action Stop<CR>

""""""""""""""""""""""""""""""""""""Git""""""""""""""""""""""""""""""""""""""
noremap <Space>gb :action Git.Branches<CR>

""""""""""""""""""""""""""""""""""""debug""""""""""""""""""""""""""""""""""""""
noremap <Space>db :action ToggleLineBreakpoint<CR>
noremap <Space>qe :action EvaluateExpression <CR>
noremap <Space>dr :action Resume<CR>

" Reload .ideavimrc without restarting the IDE
nmap <Space>ir <Action>(IdeaVim.ReloadVimRc.reload)
